nav {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  column-gap: 30%;
  align-items: center;

  button {
    cursor: pointer;
    border: none;
    padding: 0.5rem;
    border-radius: 5px;
    background: white;
    transition: all 0.5 ease;
    font-family: "Fjalla One", sans-serif;
    font-size: 1.25rem;
    border: 1px solid black;

    &:hover {
      background: black;
      color: white;
    }
  }
}

@media screen and (max-width: 768px) {
  nav {
    button {
      z-index: 10;
      margin-top: 1rem;
    }
  }
}
